@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.copy-btn{
  cursor: pointer;
  transition: all 0.2s ease, transform 1s ease-in-out;
}
.copy-btn::after {
  content: "Copy to Clipboard"; /* Initial text */
}
.copy-btn:hover {

  transform: scale(1.1); /* Scale up by 10% on hover */
  /* You can also change other styles here if needed */
}
.copy-btn:hover::after {
  content: "Copy to Share"; /* Text on hover */
}
